body {
	font-family: 'Noto Sans', sans-serif;
	background: #FFF3E2;
}

h1, h2, h3, h4 {
	font-family: 'Leelawadee UI';
    text-align: center;
    color: #88A47C;
}

.header-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
	box-shadow: 0 6px 8px 0 rgb(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}



#title {
    font-family: 'Brush Script MT';
    font-size: 90px;
    color: #227C70;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.adventures-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
.adventures {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 30px;
    margin-left: 100%;
    margin-right: 100%;
}

@media screen and (max-width: 414px) {
    .adventures {
      grid-template-columns: 100%;
    }
  }
    
.adventure-image-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
	padding: 4%;
	position: relative;
}
    
.adventure-image {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    border: 3px solid #227C70;
    padding: 20px 20px 150px 20px;
   position: relative;
}

.book-now {
    position: absolute; right: 25px; bottom: 25px;
    background-color: #1C315E;
    color: white;
}

.participants {
    position: absolute; left: 25px; bottom: 25px;
}

.adventure-image:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12 px 0 rgba(34, 60, 80, .16);
}

.adventure-image-wrapper:hover > h3 {
	visibility: visible;
}

.adventure-image-wrapper > h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}

.contact-us {
	position: absolute;
	
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form input [type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

#submit-button {
	background-color: #1C315E;
    color: white;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 50px;
    margin-bottom: 50px;
}


  
  
 